<app-titulo [titulo]="'Evento'" [subtitulo]="'Nossos eventos'" [iconeClass]="'fa fa-calendar'" [botaoListar]="true">
</app-titulo>
<hr>
<div class="card rounded shadow-sm p-3">
  <div class="d-flex mb-2">
    <div class="flex-fill pr-3">
      <div class="input-group md-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input type="text" class="form-control" placeholder="Filtrar por tema e local" [(ngModel)]="filtroLista">
      </div>
    </div>

    <div>
      <a href="#" class="d-flex btn btn-outline-primary">
        <i class="fa fa-plus-circle my-1 "></i>
        <b class="ml-1 d-none d-sm-block"> Novo</b>
      </a>
    </div>

  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>
          <button class="btn btn-outline-success btn-sm" (click)="alterarImagem()">
            <i class=" {{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }} "></i>
            {{!exibirImagem ? "Exibir" : "Ocultar"}}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <!-- tbody>tr>td*8 -->
    <tbody *ngIf="eventos && eventos.length ">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <!-- posso usar o *ngIf ao inves do collapse -->
          <img [collapse]="!exibirImagem" [isAnimated]="true" src="assets/{{evento.imageURL}}"
            [style.width.px]="larguraImagem" [style.margin.px]="margemImagem">
        </td>
        <td>{{evento.id}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento | DateTimeFormatePip}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lotes[0].nome}}</td>
        <td>

          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="editar"> <i class="fa fa-edit">
            </i> editar
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="excluir" (click)="openModal(template)">
            <i class="fa fa-trash">
            </i> deletar
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center" *ngIf="!eventos.length">
          Nenhum evento encontrado.
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- modal -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
